<div>
  <%= if @total_page > 0 do %>
    <nav class="my-2">
      <ul class="pagination pagination-sm justify-content-end mb-0">
        <li class={"page-item #{if @current_page == 1, do: "disabled"}"}>
          <.link class="page-link" phx-page-loading phx-click="page" phx-value-page={1}>«</.link>
        </li>
        <%= for i <- @start_page..@end_page do %>
          <li class={"page-item #{if @current_page == i, do: "active"}"}>
            <.link class="page-link" phx-page-loading phx-click="page" phx-value-page={i}><%= i %></.link>
          </li>
        <% end %>
        <li class={"page-item #{if @current_page == @total_page, do: "disabled"}"}>
          <.link class="page-link" phx-page-loading phx-click="page" phx-value-page={@total_page}>»</.link>
        </li>
      </ul>
    </nav>
  <% end %>
</div>
