<table class="table">
  <thead>
    <tr>
      <%= for %{header: header} <- @columns do %>
        <th scope="col"><%= header %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <%= for item <- @items do %>
        <tr>
          <%= for %{header: header, accessor: accessor} <- @columns do %>
              <td><%= accessor.(item) %></td>
          <% end %>
        </tr>
    <% end %>
  </tbody>
</table>
