$small-font-size: .750em !default;
$font-size-sm: 1rem * .750 !default;

$primary: #B5179E;
$dark: #560BAD;

@import "~bootstrap/scss/bootstrap";

.nounderline {
  text-decoration: none !important
}

/* LiveView specific classes for your customizations */

.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected {
  cursor: wait;
}
.phx-disconnected * {
  pointer-events: none;
}
