<.live_component module={ExqUIWeb.StatsComponent} id="stats" />
<.live_component module={ExqUIWeb.RealtimeStatsComponent} id="realtime-stats" />
<.live_component module={ExqUIWeb.HistoricalStatsComponent} id="historical-stats" />
