<%= live_component ExqUIWeb.StatsComponent, id: "stats" %>
<%= live_component ExqUIWeb.RealtimeStatsComponent, id: "realtime-stats" %>
<%= live_component ExqUIWeb.HistoricalStatsComponent, id: "historical-stats" %>
