<.live_component module={ExqUIWeb.StatsComponent} id="stats" />
<.live_component
  module={ExqUIWeb.TableComponent}
  id="retry-table"
  actions={@actions}
  columns={@columns}
  items={@items}
  total={@total}
  current_page={@current_page}
  page_size={@page_size}
/>
