<%= live_component ExqUIWeb.StatsComponent, id: "stats" %>
<%= live_component ExqUIWeb.TableComponent, id: "queues-table", actions: @actions, columns: @columns, items: @items, total: @total, current_page: @current_page, page_size: @page_size %>
