<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "ExqUI" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <header class="navbar navbar-expand-md navbar-light">
      <nav role="navigation" class="container">
        <span class="navbar-brand mb-0 h1">Exq</span>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" href="<%= Routes.dashboard_path(@conn, :index)%>">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="<%= Routes.queue_index_path(@conn, :index)%>">Queues</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="<%= Routes.retry_path(@conn, :index)%>">Retries</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="<%= Routes.dead_path(@conn, :index)%>">Dead</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <%= @inner_content %>
  </body>
</html>
