<!DOCTYPE html>
<html lang="en" phx-socket={live_socket_path(@conn)}>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "ExqUI" %>
    <style><%= raw(render("app.css")) %></style>
    <script><%= raw(render("app.js")) %></script>
  </head>
  <body>
    <%= @inner_content %>
  </body>
</html>
