on:
  - push
  - pull_request
jobs:
  test:
    runs-on: ubuntu-latest
    name: OTP ${{matrix.otp}} / Elixir ${{matrix.elixir}}
    strategy:
      fail-fast: false
      matrix:
        include:
          - elixir: 1.13.4
            otp: 24
            check_warnings: true
            check_format: true
          - elixir: 1.14.3
            otp: 25.2.1
          - elixir: 1.16
            otp: 26
            check_warnings: true
            check_format: true
    steps:
      - uses: actions/checkout@v2
      - run: docker-compose up -d
      - uses: erlef/setup-beam@v1
        with:
          otp-version: ${{matrix.otp}}
          elixir-version: ${{matrix.elixir}}
      - run: mix deps.get
      - run: mix format --check-formatted
        if: ${{ matrix.check_format }}
      - run: mix compile --force --warnings-as-errors
        if: ${{ matrix.check_warnings }}
      - run: mix test --trace --cover
